body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    background-image: url('background.jpeg'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9); 
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    margin: 10px 0;
    font-size: 36px; 
    color: #333; 
}

#education {
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    text-align: center; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#education h2 {
    font-size: 28px; 
    color: #333; 
}

main {
    margin-top: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 18px; 
    color: #333; 
}

input[type="number"],
input[type="text"],
select {
    width: calc(100% - 20px); 
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

#results {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.8); 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#pagination {
    text-align: center;
    margin-top: 20px;
}

.pagination button {
    background-color: #008cba;
    color: white;
    padding: 10px 16px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    margin: 0 5px;
}

.pagination button:hover {
    background-color: #005f70;
}

.pagination .disabled {
    color: #ccc;
    pointer-events: none;
}


@media only screen and (max-width: 600px) {
    .container {
        padding: 10px;
    }
    
    input[type="number"],
    input[type="text"],
    select {
        font-size: 14px;
    }
    
    button {
        padding: 10px 20px;
        font-size: 14px;
    }
}
